.UserAvatar {
    clear: both;
    float: left;
    width: 60px;
    position: relative;
    margin: 5px;
    border-radius: 10px; 
    padding: 5px;
    z-index: 3;
}

.UserAvatarImage img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.UserAvatarImage {
    height: 30px;
    text-align: center;
}

.UserAvatarName {
    font-size: 0.8rem;
    text-align: center;
    height: 1.5rem;
    padding-top: 2px;
}

.UserAvatarName p {
    margin-bottom: 0px;
}